.nav_menu {
    display: flex;
    align-items: center;
    column-gap: 2rem;
    margin-bottom: 20px;
}

.nav_menu a {
    color: #808dad;
    font-weight: 500;
    font-size: 1rem;
    text-decoration: none;
    transform: 0.3s;
    cursor: pointer;
}

.nav_menu a:hover {
    color: #01d293;
    font-weight: 700;
    font-size: 1.2rem;
}

.nav_menu a:first-child {
    color: #01d293;
}

.footer_creator {
    text-align: right;
    font-weight: 500;
    color: #01d293 !important;
}

.footer_copyright {
    display: flex;
    text-align: center;
    justify-content: center;
    border-top: 2px solid #808dad49;
}

.footer_copyright p {
    display: flex;
    font-size: 0.9rem;
    column-gap: 5px;
    margin-bottom: 0;
    text-align: center;
    padding-top: 20px;
}