.about_icon {
    color: #01d293;
    font-size: 1.2rem;
}

.about_image {
    padding: 10px;
    background: #171f38;
    margin-bottom: 20px;
    border-radius: 5px;
}

.about_image img {
    width: 100% !important;
    border-radius: 5px;
}

.about_image_box {
    width: 200px !important;
}

@media only screen and (max-width:992px) {
    .about_img_gallery {
        justify-content: center !important;
        margin-top: 50px;
    }
}